body {
    background-color: rgb(72, 72, 72);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.gameContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 520px;

}

.gameStatsBar {
    font-size: 20px;
    padding: 15px 10px 10px 10px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardCounterContainer {
    display: flex;
}

#cardCounter {
    display: inline-block;
    margin: auto 0 auto 10px;
}



#timer {
    padding: 0;
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}

.cardsIcon {
    display: inline-block;
    height: 40px;
    
}


.setCardsContainer {
    min-height: 100px;
    padding: 5px;
}



.setCard {
    
    background-color:whitesmoke;
    height: 70px;
    max-width: 33.33%;
    display: flex;
    flex: 1;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

.rowOfCards {
    display: flex;
}

.setCardImg {
    height: 100%;
    margin: 0 2% 0 2%;
    -webkit-user-drag: none;
    user-select: none;
    
}

.redCard {
    filter: invert(19%) sepia(91%) saturate(2154%) hue-rotate(343deg) brightness(100%) contrast(94%);
}

.purpleCard {
    filter: invert(14%) sepia(14%) saturate(7486%) hue-rotate(258deg) brightness(97%) contrast(104%);
}

.greenCard {
    filter: invert(27%) sepia(78%) saturate(843%) hue-rotate(75deg) brightness(98%) contrast(86%)
}


.cardIsClicked {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(58, 58, 255);
}

.endOfGame {
    margin-top: 30px;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
}

.endFoundAll {
    text-align: center;
}

#endOfGameTime {
    text-align: center;
}

.newGameButton {
 border-style: solid;
 border-width: 3px;
 border-radius: 5px;
 border-color: whitesmoke;
 background-color: rgba(255, 222, 173, 0);
 color: whitesmoke;
 padding: 5px;
 font-family: 'Poppins', sans-serif;
 font-size: 15px;
 margin-top: 50px;
}

.newGameButton:hover {
    background-color: rgb(58, 58, 255);
}

@media screen and (min-width: 400px) {
    .setCard {
        height: 80px;
    }
}

@media screen and (min-width: 450px) {
    .setCard {
        height: 90px;
    }
}

@media screen and (min-width: 520px) {
    .setCard {
        height: 100px;
    }

    .setCardsContainer {
        padding: 5px 0 5px 0;
    }
}



